<!--to be used in auth pages-->
<div class="col-md-6">
  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#popular" data-toggle="tab"><i class="fa fa-star"></i> Login</a>
      </li>
      <li>
        <a href="#recent" data-toggle="tab"> Sign up</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="popular" class="tab-pane active">
        <p>tab1</p>
      </div>
      <div id="recent" class="tab-pane">
        <p>tab1</p>
      </div>
    </div>
  </div>
</div>
