<li class="col-md-4 mb-xlg isotope-item rooms">
  <h5 class="mt-md mb-none">Standard Room</h5>
  <div class="room-suite-info">
    <ul>
      <li><label>BEDS</label> <span>1 Double Bed</span></li>
      <li><label>OCCUPANCY</label> <span>2 Persons</span></li>
      <li><label>SIZE</label> <span>40 sqm.</span></li>
      <li><label>VIEW</label> <span>Porto Bay</span></li>
      <li><label>RATES FROM</label> <strong>USD 199</strong></li>
      <li>
        <a href="#" class="room-suite-info-detail" title="">
          View Details<i class="fa fa-long-arrow-right"></i>
        </a>
        <a href="#" class="room-suite-info-book" title="">Book Now</a>
      </li>
    </ul>
  </div>
</li>
