<% content_for :headers do %>
  <%# moved to the main layout, since style of 'home' is essential of header/footer and some other global pages %>
<% end %>

<% content_for :content do %>
  <%=render 'slider'%>


<div class="home-intro-compact" id="home-introCustom">
	<div class="container">

    <div class="featured-boxes featured-boxes-style-3 featured-boxes-flat">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="featured-box featured-box-tertiary featured-box-effect-3">
									<div class="box-content">
										<i class="icon-featured fa fa-heart"></i>
										<h4>Easy</h4>
										<p>Easy to use so you can donate any where any time.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="featured-box featured-box-tertiary featured-box-effect-3">
									<div class="box-content">
										<i class="icon-featured fa fa-check-circle"></i>
										<h4>Trusted</h4>
										<p>All Cases and Donors are verified</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="featured-box featured-box-tertiary featured-box-effect-3">
									<div class="box-content">
										<i class="icon-featured fa fa-hourglass"></i>
										<h4>Fast</h4>
										<p>Online payment to make your donation process as fast as possible.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					

	</div>
</div>


  <div class="container">
    <div class="row">

      <hr class="tall">
      <div>
        <button class="btn btn-primary" id="omda">Bootstrap button</button>
        Test font awesome Icon
        <i class="fa fa-github"></i>
      </div>


      <ul class="portfolio-list sort-destination">
        <%# partial for single case %>
        <%= render 'case' %>
      </ul>


      <%# khaled's original page conent, TODO: move it to the appropriate page %>


    </div>
  </div>
  <!--  custom JS for this page (assets/javascript/porto_wrapper)-->
  <%= javascript_include_tag "porto_wrapper" %>
<% end %>
